@font-face {
  font-family: 'MyCustomFont';
  /* 自定义字体名称（可任意命名） */
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont4';
  /* 自定义字体名称（可任意命名） */
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont2';
  /* 自定义字体名称（可任意命名） */
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Light.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont3';
  /* 自定义字体名称（可任意命名） */
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyCustomFont5';
  /* 自定义字体名称（可任意命名） */
  src: url('/src/assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1216px;
  height: 693px;
  gap: 32px;
}

.weather-detail-right {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 16px;
  border-radius: 20px;
  padding: 24px 24px;
  width: 384px;
  height: 693px;
}

.weather-detail-right-title {
  display: flex;
  box-sizing: border-box;
  gap: 16px;
  border-radius: 20px;
  width: 384px;
  height: 693px;
}



.weather-detail-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: left;
  /* 如需垂直居中可加这行 */
  width: 800px;
  height: 693px;
  background-color: #1E213A;
}


.weather-detail {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: left;
  /* 如需垂直居中可加这行 */
  width: 800px;
  height: 436px;
  background-color: #1E213A;
}

.weather-info {
  display: flex;
  box-sizing: border-box;
  padding: 80px 24px;
  background-image: url('@/assets/images/bg-today-large.svg');
  justify-content: space-between;
  /* 子元素水平居中 */
  align-items: center;
  /* 如需垂直居中可加这行 */
  width: 800px;
  height: 286px;
  color: white;
}

.weather-info-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: left;
  /* 如需垂直居中可加这行 */
  font-family: MyCustomFont5;
  font-size: 28px;
}

.weather-info-left :last-child {
  font-family: MyCustomFont3;
  font-size: 18px;
}

.weather-info-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: center;
  /* 如需垂直居中可加这行 */
  font-family: MyCustomFont4;
  font-size: 96px;
}

.weather-info-right img {
  width: 120px;
  height: 120px;
}


.weather-detail-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: center;
  /* 如需垂直居中可加这行 */
  width: 800px;
  height: 118px;
  color: white;
}

.detail-card-title {
  font-family: MyCustomFont3;
  font-size: 18px;
}

.detail-card-first {
  box-sizing: border-box;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 24px;
  width: 122px;
  height: 118px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: left;
  /* 如需垂直居中可加这行 */
  background-color: #3C3B5E;
  font-family: MyCustomFont2;
  font-size: 32px;
}

.detail-card-second {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border-radius: 12px;
  gap: 24px;
  width: 202px;
  height: 118px;
  justify-content: center;
  /* 子元素水平居中 */
  align-items: left;
  /* 如需垂直居中可加这行 */
  background-color: #3C3B5E;
  font-family: MyCustomFont2;
  font-size: 32px;

}


.daily-forecast-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 800px;
  height: 209px;
  /* 添加固定高度 */
  color: white;
}

.daily-forecast-total> :first-child {
  font-family: MyCustomFont;
  font-size: 20px;
}

.daily-forecast-arr {
  display: flex;
  gap: 16px;
}

.daily-forecast {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px;
  gap: 16px;
  color: white;
  background-color: #3C3B5E;
  width: 100.57px;
  border-radius: 12px;
  height: 165px;
  /* 添加固定高度 */
}

.daily-forecast img {
  width: 60px;
  height: 60px;
}

.daily-forecast-span {
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 19px;
}